footer{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 1em;
    margin-bottom: 4em;

    background-color: #6D6D6D;
}

.footer_element{
    margin: 1em 1.25em;

    flex: 0.8 0 0;
    display: flex;
    flex-direction: column;
}

.footer_element h3 {
    margin-bottom: 1em;
}