body {
    font-family: Calibri, Helvetica, arial, sans-serif;
    background-image: url("../../img/grande-variete-de-pains-boulangerie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#wrapper {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#main-logo {
    width: 20%;
    height: auto;
    margin: 25px auto;
}

.content_wrapper {
    background-color: #C3C0C0;
    margin: 2em 0;
    width: auto;
    height: auto;
    padding: 1em 8%;
    border-radius: 2px;
}
