label{
    color: #686d76;
}

input:disabled {
    opacity: 0.7;
}
input {
    width: 100%;
    height: 60%;
    border: 2px solid  black;
    border-radius: 4px;
    background-color:  #686d76;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

.input_text:focus {
    border-color:#686d76;
    box-shadow: 0 0 8px 0  black;
}
.input_file:focus {
    border-color:#686d76;
    box-shadow: 0 0 8px 0   black;
}

.input_text{
    width: 100%;
    height: 150px;
    border: 2px solid   black;
    border-radius: 4px;
    background-color:  #686d76;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    font-size: 15px;

}

.form {
    margin-top: 5em;
    margin-bottom: 1em;

    margin-left: auto;
    margin-right: auto;
    width: 65%; /* largeur obligatoire pour être centré */
}

.form_content {
    margin-top:  1em;
    margin-bottom: 2px;
}

.form_sub_content {
    display: flex;
    flex-direction: column;

    margin-bottom: 1em;
    width: 47%;
}

.form_content_message {
    display: flex;
    flex-direction: column;

    margin-bottom: 1em;
    width: 100%;
}
.div_form_contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div_form_contact input{
    width: 100%;
}



.btn-primary {
    background: #686d76;
    font-weight: normal;
    border: 1px solid;
    color: #373a40;
}

.btn {
     padding: 9px 16px;
     border: none;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     box-shadow: 0 1px 2px rgba(36, 57, 141, 0.4);
     border-radius: 4px;
     line-height: 1.6;
     font-weight: bold;
     color: #ffffff;
     cursor: pointer;
     transition: filter 0.3s, background 0.3s, color 0.3s;
     font-size: 1.0em;
     filter: brightness(1);
 }