<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Title</title>
</head>
<body>
<div id="wrapper">

    <header>
        <img id="main-logo" src="../img/logo.svg" alt="Logo">

        <nav class="nav-menu">
            <ul>
                <li><a href="../index.html">Acceuil</a></li>
                <li><a href="../template/produit.html">Nos produits</a></li>
                <li><a href="../template/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="content_wrapper">
        <h1 style="margin-top: 1em">Nous contacter</h1>

        <div style="margin-top: 2em; text-align: center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, ipsam, quaerat. Amet assumenda
                autem eveniet facilis hic impedit incidunt laudantium neque possimus praesentium quia quidem reiciendis
                rerum sapiente, tempore vel.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, ipsam, quaerat. Amet assumenda
                autem eveniet facilis hic impedit incidunt laudantium neque possimus praesentium quia quidem reiciendis
                rerum sapiente, tempore vel.
            </p>
        </div>

        <div class="form">
            <div class="form_content">
                <div class="div_form_contact">
                    <div class="form_sub_content">
                        <label for="name">Nom</label>
                        <input type="text" id="name" name="user_name">
                    </div>
                    <div class="form_sub_content">
                        <label for="name">Prénom</label>
                        <input type="text" id="firtname" name="user_name">
                    </div>
                </div>
                <div class="div_form_contact">
                    <div class="form_sub_content">
                        <label for="name">telephone</label>
                        <input type="text" id="phone" name="user_name">
                    </div>
                    <div class="form_sub_content">
                        <label for="mail">Email </label>
                        <input type="email" id="mail" name="user_mail">
                    </div>
                </div>
                <div class="form_content_message">
                    <label for="msg">Message</label>
                    <textarea id="msg" name="user_message" class="input_text"></textarea>
                </div>
            </div>
            <div class="form_content">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </div>

    </section>

    <footer>
        <div class="footer_element description">
            <h3>Description</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem facilis, iste minus molestias
                officia quibusdam reiciendis sed voluptatem? Eaque eos est excepturi expedita impedit nulla odio
                recusandae! Accusantium, praesentium?
            </p>
        </div>
        <div class="footer_element description">
            <h3>Description</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem facilis, iste minus molestias
                officia quibusdam reiciendis sed voluptatem? Eaque eos est excepturi expedita impedit nulla odio
                recusandae! Accusantium, praesentium?
            </p>
        </div>
    </footer>

</div>

</body>
</html>