<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Title</title>
</head>
<body>
<div id="wrapper">

    <header>

        <img id="main-logo" src="../img/logo.svg" alt="Logo">

        <nav class="nav-menu">
            <ul>
                <li><a href="../index.html">Acceuil</a></li>
                <li><a href="../template/produit.html">Nos produits</a></li>
                <li><a href="../template/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="content_wrapper">
      <h1 style="margin-top: 1em">Nos produits</h1>


        <div class="card">
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
            <div class="small_card_element">
                <img src="../img/img_produit.jpg" alt="" class="small_element_img">
                <div class="card_sub_element">
                    <h3>Titre</h3>
                    <p><strong>Ingrédient :</strong> farine, sucre etc...</p>
                    <p><strong>Prix :</strong> 10€</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer_element description">
            <h3>Description</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem facilis, iste minus molestias
                officia quibusdam reiciendis sed voluptatem? Eaque eos est excepturi expedita impedit nulla odio
                recusandae! Accusantium, praesentium?
            </p>
        </div>
        <div class="footer_element description">
            <h3>Description</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem facilis, iste minus molestias
                officia quibusdam reiciendis sed voluptatem? Eaque eos est excepturi expedita impedit nulla odio
                recusandae! Accusantium, praesentium?
            </p>
        </div>
    </footer>

</div>

</body>
</html>